$variant: 'light';
$laptop: 'true';
$topbar: 'light';
$color: 'desert-lights';

@import "../sass/40.0/colors";
@import "../sass/40.0/drawing";
@import "../sass/40.0/common";
@import "../sass/40.0/widgets";
@import "../sass/40.0/extensions";
